body{
    color:white;
    background-color: black;
}
.bloc {
    position: absolute;
    width: 20px; height: 20px;
    top:0px;left:0px;
    text-align: center;
    font-size: 40px;
    background-color: #222;
    color: #CCC;
    border-radius: 10%;
}
.snake{
    border: solid;
    width:90%;
    height: 80%;
    position: absolute;
    top: 15%;
    left:5%;
    display: block;
    border-width: 3px;
    border-top-width:10px;
    border-color: #757575;
    background-color: greenyellow;
}
.scoreBlock{
    border: solid;
    position: absolute;
    text-align: center;
    display: block;
    color: #222;
    border-color: #757575;
    border-width: 3px;
    border-top-width:10px;
    background-color: greenyellow;
}