.bloc {
    position: absolute;
    width: 20px; height: 20px;
    top:0px;left:0px;
    text-align: center;
    font-size: 40px;
    background-color: #222;
    color: #CCC;
    cursor: move;
}
.snake{
    border: double;
    width:70%;
    height: 60%;
    position: absolute;
    top: 40%;
    left:15%;
    display: block;
    border-width: 3px;
    background-color: greenyellow;
}