.snakeBloc {
    position: absolute;
    background-color: #222;
    color: #CCC;
    border-radius: 18%;
}
.foodBloc {
    position: absolute;
    background-color: #830716;
    color: #CCC;
    border-radius: 18%;
}
.snake{
    border: solid;
    width:90%;
    height: 80%;
    position: absolute;
    top: 15%;
    left:5%;
    display: block;
    border-width: 3px;
    border-top-width:10px;
    border-color: #757575;
    background-color: greenyellow;
}
.scoreBlock{
    border: solid;
    position: absolute;
    text-align: center;
    display: block;
    color: #222;
    border-color: #757575;
    border-width: 3px;
    border-top-width:10px;
    background-color: greenyellow;
}